* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

caption {
  margin: auto;
  font-size: 1.3em;
  padding-bottom: 10px;
  color: rgb(68, 100, 112);
}

td,
th {
  border: 1px solid black;
  padding: 20px 80px;
}

.information-vole {
  margin: 5%;
}
.information-vole h1 {
  padding-bottom: 15px;
}
.information-vole p {
  font-size: 1.2em;
  text-align: justify;
}
